.block-timer-result {
  clear: both;
  z-index: 999999;
  text-align: left;
}

.block-timer-result .summary {
  display: inline;
	font-style: italic;
  border-radius: 5px;  
  padding: 3px 5px;
}

.block-timer-result .summary.good {
  color: #000000;
  background-color: #00FF00;	  
}

.block-timer-result .summary.warn {
  color: #000000;
  background-color: #FFFF00;    
}

.block-timer-result .summary.bad {
  color: #ffffff;
  background-color: #FF0000;    
}

.block-timer-result .detail {
  display: none;
	position: absolute;
	z-index: 999999;
	border: 1px #000000 solid;
	margin-top: 2px;
	width: 300px;
	background-color: #FFFFFF;
	color: #000000;
}

#block-timer-summary {
	padding: 20px;
  background-color: #ffffff;
  color: #000000;
}